// Odometer

$color-odometer: $color-brand-green;
$font-size-odometer: 1.5em;

.odometer {
    font-size: 50px;
    font-weight: 700;
}

.dark-container {
    background-color: black;
}

.stat-container {

    @include span-columns(12);

    @include media($mobile) {
      @include span-columns(6);
      @include omega(2n);
    }

    @include media($tablet) {
      @include span-columns(3);
      @include omega-reset(2n);
      @include omega(4n);
    }

    text-align: center;
    padding-bottom: 15px;

    // background: #444;
    // color: #fff;
    // padding: 13px 21px 11px;
    // margin: auto;
    // line-height: 1 !important;
    // border-radius: 0 4px 4px 0;

    h3 {
        color: $color-odometer;
        font-size: $font-size-odometer;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        width: 120px;
    }

    .stat {}

    // &:after {
    //     content: "";
    //     display: block;
    //     height: 2px;
    //     width: 10%;
    //     margin: 15px auto 0;
    //     background: $color-brand-blue;
    // }
}
