// Twitter Scroller

.tweets-mask {
    height: 30px;
    max-width: 66em; 
    position: relative; 

    &:before {
        position: absolute;
        content: "";
        display: block;
        position: absolute;
    }

    &:before {
        //margin-left: -30px;
        border-left: 30px solid transparent;
        border-top: 30px solid $color-brand-blue;
        left: 0;
    }  

    // &:after {
    //     width: 30px; 
    //     height: 30px; 
    //     right: 0; 
    // }
}

.tweets-oveflow {
    overflow: hidden;
}

.tweets-margin {
    margin-right: -30px; 
    margin-left: 30px; 
}

#latest-tweets {
    background: $color-brand-blue;
    font-size: 14px;
    color: white;
    height: 30px;
    // position: relative; 
    // margin-left: 30px;  

    .tweet img {
        display: none;
    }

    a {
        text-decoration: inherit;
        font-weight: 700; 
    }

    .fa-twitter {
        -webkit-font-smoothing: antialiased;
        color: $color-scroll-twitter;
        font-size: 14px;
        padding-right: 15px;
    }

    ul {
        margin: 4px 0 0;
        padding: 0;
        list-style: none;
        white-space: nowrap;
        float: left; /* This makes the ul the full width of the children */
        padding-left: 110%;  /* show the marquee just outside the paragraph */
        -webkit-animation: marquee 260s linear infinite;
        -moz-animation: marquee 260s linear infinite;
        -o-animation: marquee 260s linear infinite;
        animation: marquee 260s linear infinite;
        &:hover {
            -webkit-animation-play-state: paused;
            -moz-animation-play-state: paused;
            -o-animation-play-state: paused;
            animation-play-state: paused;
        }

        li {
            display: inline-block;
            margin: 0 20px 0 0;

            p {
                margin: 0;
                font-family: 'Lekton', sans-serif;
                font-weight: 300;
                -webkit-font-smoothing: antialiased;
            }
        }
    }
}

/* Make it move */
@-webkit-keyframes marquee {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
@-moz-keyframes marquee {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
@-o-keyframes marquee {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
@-keyframes marquee {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}